# ignore everything
*

# Whitelist
!.gitignore

# beside of dotfiles
!.tmux.conf
!.xinitrc

# config files
!.config/
.config/*
!.config/fish/
.config/fish/*
!.config/fish/config.fish
!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim
!.config/nvim/init.lua
!.config/nvim/colors/
!.config/nvim/lua/
!.config/nvim/plug-config/
!.config/nvim/plug-config/*
!.config/nvim/keys/
!.config/nvim/keys/*
!.config/nvim/vim-plug/
!.config/nvim/vim-plug/*
!.config/nvim/general/
!.config/nvim/general/*
!.config/picom/
!.config/picom/*
!.config/zathura/
!.config/zathura/*
